<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiny.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.xiny.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="password_salt" property="passwordSalt" jdbcType="VARCHAR"/>
        <result column="last_date" property="lastDate" jdbcType="TIMESTAMP"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="is_lock" property="isLock" jdbcType="CHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_name, password, password_salt, last_date, create_date, is_lock, del_flag
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.xiny.entity.User">
    insert into user (id, user_name, password, 
      password_salt, last_date, create_date, 
      is_lock, del_flag)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{passwordSalt,jdbcType=VARCHAR}, #{lastDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{isLock,jdbcType=CHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.xiny.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="passwordSalt != null">
                password_salt,
            </if>
            <if test="lastDate != null">
                last_date,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="isLock != null">
                is_lock,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="passwordSalt != null">
                #{passwordSalt,jdbcType=VARCHAR},
            </if>
            <if test="lastDate != null">
                #{lastDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isLock != null">
                #{isLock,jdbcType=CHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiny.entity.User">
        update user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="passwordSalt != null">
                password_salt = #{passwordSalt,jdbcType=VARCHAR},
            </if>
            <if test="lastDate != null">
                last_date = #{lastDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isLock != null">
                is_lock = #{isLock,jdbcType=CHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xiny.entity.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      password_salt = #{passwordSalt,jdbcType=VARCHAR},
      last_date = #{lastDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      is_lock = #{isLock,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="findByLoginName" parameterType="String" resultType="com.xiny.config.shiro.ShiroUser">
    select  id "id",user_name "userName",password "password",password_salt "passwordSalt",create_date "createDate",last_date "lastDate",is_lock "isLock",del_flag "delFlag" from user where user_name=#{username}
  </select>

    <insert id="registerUser" parameterType="com.xiny.vo.UserVo" keyProperty="id" useGeneratedKeys="true">
        insert INTO  USER (user_name,password,password_salt,create_date,last_date,is_lock,del_flag) values(#{userName},#{password},#{passwordSalt},#{createDate},#{lastDate},#{isLock},#{delFlag})
    </insert>

</mapper>